<p id="notice"><%= notice %></p>

<p>
  <strong>Visitante:</strong>
  <%= @rastreamento.visitante %>
</p>

<p>
  <strong>Url:</strong>
  <%= @rastreamento.url %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @rastreamento.titulo %>
</p>

<p>
  <strong>Data hora:</strong>
  <%= @rastreamento.data_hora %>
</p>

<%= link_to 'Edit', edit_rastreamento_path(@rastreamento) %> |
<%= link_to 'Back', rastreamentos_path %>
